body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 0;
}

/* ////////////  Search Bar //////////// */

.geocoder {
    position: absolute;
    z-index: 15;
    width: 20%;
    left: 17%;
    margin-left: -15%;
    top: 90px;
    }
    .mapboxgl-ctrl-geocoder {
    min-width: 100%;
    z-index: 15
    }
    #map {
    margin-top: 75px;
    }

/* ////////////  Side Bar //////////// */
#header {
    background-color: white;
    color: #333;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    font-family: sans-serif
}

#header h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

#header p {
    margin: 0;
    font-size: 14px;

}

.sidebar {
    position: absolute;
    width: 250px;
    z-index: 10;
    background: white;
    padding: 20px;
    border-radius: 15px;
    margin-top: 60px;
    margin-left: 25px;
    top: 80px;
    left: 0;
    font-family: sans-serif
}

  
.title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom:8px;
}

.description1 {
    font-size: 14px;
    margin-bottom: 10px;
}

.description2 {
    font-size: 14px;
    margin-bottom: 10px;
}

.description3 {
    font-size: 14px;
    margin-bottom: 10px;
}

/* ////////////  Info Bar //////////// */

.building-info {
    position: absolute;
    font-family: sans-serif;
    margin-top: 300px;
    margin-left: 5px;
    right: 20px;
    z-index: 15;
    padding: 20px;
    width: 20%;
    border-radius: 15px;
    font-size: 14px;
    color: #222;
    background-color: #fff;
    border-radius: 3px;

  }
  
  
/* Beautiful button from https://getcssscan.com/css-buttons-examples */
.button-18 {
    align-items: center;
    background-color: #0A66C2;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    max-width: 480px;
    min-height: 40px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    margin-bottom:8px;
    z-index: 10;
  }
  
  .button-18:hover,
  .button-18:focus { 
    background-color: #16437E;
    color: #ffffff;
  }
  
  .button-18:active {
    background: #09223b;
    color: rgb(255, 255, 255, .7);
  }
  
  .button-18:disabled { 
    cursor: not-allowed;
    background: rgba(0, 0, 0, .08);
    color: rgba(0, 0, 0, .3);
  }